*{
    padding: 0%;
    margin: 0%;
    margin-right: 0%;
}
body{
    background-color: black;
}
.img img{
    position: absolute;
    z-index: -1;
}

div a {
    color: white;
    z-index: 1;
    text-decoration: none;
    
}
button{
    background-color: #2b74e6;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    position: relative;
    top: 650px;
    left: 650px;
    border: none;
    box-shadow: 0 0 10px #37a1fd;

}
button:hover{
    transform: scale(0.9);
    box-shadow: 0 0 20px #37a1fd9f;
    cursor: pointer;


}